<template>
    <div class="like" @click="toggle">
        <i v-if="dataLiked" class="fa fa-heart">
    </div>
    <span>like</span>
</template>

<script>
    import axios from 'axios'
    export default {
    name: 'like',
    props: ['tweetId'],
    data: function(){
        return {
            liked: true
            }
        }
        methods: {
            toggle(){
                this.liked = !this.dataLiked
                axios.post('/tweets/'+ this.tweetId + '/like/toggle')
            }
            created(){
                this.dataLiked = this.liked
            }
        }
    }
</script>
    <style lang=css>
</style>
